<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <main>
        <div>
            <h1>{{ todo_details.name }}</h1>
            <p><a href="{% url 'todo_list_update' todo_details.id %}">Edit</a></p>
            <p><a href="{% url 'todo_list_delete' todo_details.id %}">Delete</a></p>

            <h2>Tasks</h2>

            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for detail in todo_details.items.all %}
                    <tr>
                        <td><a href="{% url 'todo_item_update' todo_details.id %}">{{detail.task}}</a></td>
                        <td>{{ detail.due_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </main>
</body>

</html>
