<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <div>
            <h1>Create a new item</h1>
            <form method="post">
                <p>
                    {% csrf_token %}
                    <label for="task">Task:</label><br>
                    <input type="text" name="task"><br>
                    <label for="task">Due date:</label><br>
                    <input type="text" name="due_date"><br>
                    <label for="task">Is completed:</label>
                    <input type="checkbox" name="is_completed"><br>
                    <label for="task">List:</label>
                    <select name="list" id="list">
                        <option value="">-----------</option>
                        {% for list in todo_list.items.all %}
                        <option value="{{list.id}}">{{list.name}}</option>
                        {% endfor %}
                    </select><br>
                    <button>Create</button>

                </p>
            </form>
        </div>
    </main>
</body>

</html>
